@using SharedUI.Models.Enums
@{
    Layout = "LayoutOne";
}


<div class="container-fluid py-2">

    <div class="d-flex justify-content-between align-items-center border-bottom mb-4 pb-3">
        <div>
            <h5 class="fw-bold mb-0">@ViewBag.DisplayName</h5>
            @{
                string message = "Fill in the details to create a new system record.";
                <p class="text-muted small mb-0">@message</p>
            }
        </div>
        <div>
            @{
                if (ViewBag.OperationType == nameof(OperationType.INSERT_DATA_INTO_DB))
                {
                    <button type="button" id="ButtonSaveData" class="btn btn-primary btn-sm px-4 shadow-sm">
                        <i class="fa-solid fa-cloud-arrow-up me-1"></i> Save
                    </button>
                }
                else if (ViewBag.OperationType == nameof(OperationType.UPDATE_DATA_INTO_DB))
                {
                    <button type="button" id="ButtonUpdateData" class="btn btn-success btn-sm px-4 shadow-sm">
                        <i class="fa-solid fa-cloud-arrow-up me-1"></i> Update
                    </button>
                }
            }
        </div>
    </div>

    <form id="SOCustomerForm">
        @Html.Hidden("OperationType", (string)ViewBag.OperationType)
        @Html.Hidden("GuID")
        @{
            if (ViewBag.OperationType == nameof(OperationType.UPDATE_DATA_INTO_DB))
            {
                <div class="card">
                    <div class="card-header">
                        <div class="row mb-0">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    @Html.Label("DropDownListDocument", "Document (Customer)", new { @class = "col-form-label" })
                                    @Html.DropDownList("DocumentGuID", Enumerable.Empty<SelectListItem>(), "Select an option", new { @class = "form-select form-select-sm select2", @id = "DropDownListDocument" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        }
        <div class="card">
            <div class="card-body">
                <div class="col-12 mt-4">
                    <div class="bg-light rounded-2 border-start border-primary border-4 p-2">
                        <span class="fw-bold text-primary small"><i class="fa-solid fa-building me-2"></i> CUSTOMER INFORMATION</span>
                    </div>
                </div>

                <div class="row mb-0">
                    <div class="col-sm-12 col-md-8">
                        <div class="form-group">
                            @Html.Label("TextBoxDescription", "Description", new { @class = "col-form-label" })
                            @Html.TextBox("Description", null, new { @class = "form-control form-control-sm", required = "required", placeholder = "Provide Description!", @id = "TextBoxDescription" })
                        </div>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            @Html.Label("TextBoxContact", "Contact", new { @class = "col-form-label" })
                            @Html.TextBox("Contact", null, new { @class = "form-control form-control-sm contact", required = "required", placeholder = "Provide Contact!", @id = "TextBoxContact" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            @Html.Label("TextBoxEmail", "Email", new { @class = "col-form-label" })
                            @Html.TextBox("Email", null, new { @class = "form-control form-control-sm email", placeholder = "Provide Email!", @id = "TextBoxEmail" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            @Html.Label("TextBoxCNICNumber", "CNIC", new { @class = "col-form-label" })
                            @Html.TextBox("CNICNumber", null, new { @class = "form-control form-control-sm cnic", placeholder = "Provide CNIC Number!", @id = "TextBoxCNICNumber" })
                        </div>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            @Html.Label("TextBoxAddress", "Address", new { @class = "col-form-label" })
                            @Html.TextArea("Address", null, new { @class = "form-control form-control-sm", rows = "4", placeholder = "Provide Address", @id = "TextBoxAddress" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            @Html.Label("TextBoxAdditionalDetail", "Additional Detail", new { @class = "col-form-label" })
                            @Html.TextArea("AdditionalDetail", null, new { @class = "form-control form-control-sm", rows = "4", placeholder = "Provide additional details", @id = "TextBoxAdditionalDetail" })
                        </div>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-sm-12 col-md-3 d-flex align-items-center">
                        <div class="form-check mt-3">
                            @Html.Label("CheckBoxIsAutoChartOfAccount", "Auto Chart Of Account", new { @class = "form-check-label" })
                            @Html.CheckBox("CheckBoxIsAutoChartOfAccount", true, new { @id = "CheckBoxIsAutoChartOfAccount", disabled=true, @class = "form-check-input" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            @Html.Label("TextBoxOpeningBalance", "Opening Balance", new { @class = "col-form-label" })
                            @Html.TextBox("OpeningBalance", 0.00, new { @class = "form-control form-control-sm numberOnly", placeholder = "Provide Opening Balance!", @id = "TextBoxOpeningBalance", type = "number", min = "0" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/js/SaleOperation/CreateUpdate_SOCustomer_UIScript.js"></script>